*, *::before, *::after {
    box-sizing: border-box;
    font-family: Roboto, Arial, Helvetica, sans-serif;
}

body {
    margin: 0;

}

.wrapper ul{
    list-style: none;
    margin-top: 2%;

}

.wrapper ul li {
    background: rgb(252, 249, 249);
    width: 100px;
    border: 1px solid #fff;
    height: 60px;
    line-height: 50px;
    text-align: center;
    float: left;
    font-size: 14px;
    position: relative;
    font-family: big john;
    
    
}

.wrapper ul li:hover {
    background: rgb(153, 149, 149);
}

.wrapper ul ul {
    display: none;

}

.wrapper ul li:hover > ul {
    display: block;


}

.wrapper ul ul  {
    margin-right: 1px;
    top: 1000;
    position: absolute;
}

.video-section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 3rem 1rem;
    padding: 3rem 0;
    margin: 0 1.5rem;
    border-top: 4px solid #ccc;
    
}

.video-section:first-child {
    border-top: none;

}
.video-container {
    display: flex;
    flex-direction: column;

}

.thumbnail {
    position: relative;
    display: flex;
}
.thumbnail::before {
    content: attr(data-duration);
    position: absolute;
    background-color: rgba(0, 0, 0, .85);
    color: white;
    right: 5px;
    bottom: 5px;
    padding: .1em .3em;
    font-size: .9rem;
}
.thumbnail-image {
    width: 100%;
    height: 100%;
    min-width: 250px;
    min-height: 150px;
    background-color: #AAA;
}

.video-bottom-section {
    display: flex;
    align-items: flex-start;
    margin-top: 1rem;
}

.channel-icon {
    margin-right: .75rem;
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
}

.video-details {
    display: flex;
    flex-direction: column;

}

.video-title {
    font-size: 1.1rem;
    font-weight: bold;
    margin-bottom: .5rem;
    text-decoration: none;
    color: black;
}

.video-channel-name {
    margin-bottom: .1rem;
    text-decoration: none;
    color: #555;
    transition: color 150ms;
}

.video-channel-name:hover {
    color: #111;
}
.video-channel-name,
.video-metadata {
    color: #555;

}

.video-section-title {
    grid-column: 1 / -1;
    margin: -.5rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 .5rem;
}

.video_section-title-close {
    border: none;
    background: none;
    padding: 0;
    font-size: 2rem;
    color: #555;
    cursor: pointer;
}
.videos {
    background-color: #f9f9f9;
}

.catagory-section {
    padding: 1rem 2rem;
    border-top: 1px solid #999;
    border-bottom: 1px solid #999;
    
}

.catagory-section {
    display: flex;
    overflow: hidden;
}

.catagory {
    display: flex;
    margin-right: 1rem;
    justify-content: space-between;
    word-wrap: none;
    white-space: nowrap;
    border: 1px solid #ccc;
    border-radius: 900px;
    background-color: #e7e7e7;
    padding: .5rem 1rem;
    font-size: inherit;
    cursor: pointer;
    transition: background-color 150ms;
    
    
}

.catagory:hover {
    background-color: #DDD;

}

.catagory.active {
    background-color: #606060;
    color: white;
    border-color: #eee;

}

.catagory:last-child {
    margin-right: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}
.youtube-logo {
    height: 60px;
}

.search-bar {
    flex-grow: 1;
    margin: 0 2rem 0 4rem;
}

.search-input {
    width: 105%;
    font-size: inherit;
    padding: .4rem;
    border: 1px solid #777;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}



.menu-icons {
    display: grid;
    grid-template-columns: repeat(4, auto);
    align-items: center;
    gap: 1.5rem;
    cursor: pointer;
}

.menu-channel-icon {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    background-color: #AAA;
}

.header__input {
    display: flex;
    align-items: center;
    padding: 10px;
    margin: 10px;
    border-radius: 999px;
}

.header__input input{
    border: none;
    background-color: transparent;
    outline-width: 0;
}


}


